{% extends 'base.html' %}



{% block content %}

<div class="container col-md-5">
    <h2>Change Password</h2>
    <div class="row mb-5"></div>
    <div class="row mb-5"></div>
    <form method="POST" action="{% url 'changePassword' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Errors:</p>
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {{ password_form.as_p }}
        <input type="submit" value="Update" class="btn btn-secondary">
    </form>
    <div class="row mb-5"></div>
    <div class="row mb-5"></div>
</div>

{% endblock %}