{% extends 'base.html' %}


{% block content %}
<br/>

<div class="col-md-6 offset-md-3"> <!-- d-flex justify-content-center py-5 -->
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-group mb-3">
            <input type="text" class="form-control" placeholder="Username" name="username">
            {{ form.username }}
        </div>
        <div class="form-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password">
            {{ form.password }}
        </div>
        
        <div class="mb-3">
            <button type="submit" class="btn">Login</button>
        </div>
    </form>
</div>



{% endblock %}