{% extends 'base.html' %}



{% block content %}
<!-- form for providers to post a reply to a review left by a user -->
<div class="row text-center">
    <div class="container-bordered border border-dark rounded-2 mb-5 text-center col-lg-5 mx-auto">
        <div class="mb-3">
            {% if review.rating == 0.5 %}
                <i style='font-size:24px' class='fas col-3 pt-3'>&#xf089;</i>
            {% elif review.rating == 1 %}
                <i style='font-size:24px' class='fas col-3 pt-3'>&#xf005;</i>
            {% elif review.rating == 1.5 %}
                <i style='font-size:24px' class='fas col-3 pt-3'>&#xf005;&#xf089;</i>
            {% elif review.rating == 2 %}
                <i style='font-size:24px' class='fas col-3 pt-3'>&#xf005;&#xf005;</i>
            {% elif review.rating == 2.5 %}
                <i style='font-size:24px' class='fas col-3 pt-3'>&#xf005;&#xf005;&#xf089;</i>
            {% elif review.rating == 3 %}
                <i style='font-size:24px' class='fas col-3 pt-3'>&#xf005;&#xf005;&#xf005;</i>
            {% elif review.rating == 3.5 %}
                <i style='font-size:24px' class='fas col-3 pt-3'>&#xf005;&#xf005;&#xf005;&#xf089;</i>
            {% elif review.rating == 4 %}
                <i style='font-size:24px' class='fas col-3 pt-3'>&#xf005;&#xf005;&#xf005;&#xf005;</i>
            {% elif review.rating == 4.5 %}
                <i style='font-size:24px' class='fas col-3 pt-3'>&#xf005;&#xf005;&#xf005;&#xf005;&#xf089;</i>
            {% elif review.rating == 5 %}
                <i style='font-size:24px' class='fas col-3 pt-3'>&#xf005;&#xf005;&#xf005;&#xf005;&#xf005;</i>
            {% endif %} 
        </div>
        <div class="mb-3">
            <h3>{{ review.title }}</h3>
        </div>
        <div class="col-5 mx-auto mb-4">
            <p>{{ review.text }}</p>
        </div>
    </div>
        
        
</div>
<div class="row">
    {% if reply != 0 %}
    <div class="mb-1 text-center">
        <h5>Previous Reply:</h5>
    </div>
    <div class="mb-3 text-center">
        <p>{{ reply.text }}</p>
    </div>
    {% endif %}
    <h3 class="mb-3 pb-2" style="text-align: center">{{ profile.name }}</h3>
    <div class="container col-md-5 pb-5 px-5 mx-auto">
        <h6>Your reply:</h6>
        <form method="POST" action="#"> 
            {% csrf_token %}
            <div class="row mb-3">
                <textarea name="text" rows="5" class="form-control"></textarea>
            </div>
            <div class="row col-lg-3 mx-auto">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>




{% endblock %}


